{
  "packages/web/src/**/*.{ts,tsx,vue}": [
    "eslint --fix --config packages/web/eslint.config.mjs",
    "prettier --write"
  ],
  "packages/server/src/**/*.ts": [
    "eslint --fix --config packages/server/eslint.config.mjs",
    "prettier --write"
  ],
  "packages/shared/src/**/*.ts": [
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}
